**/.sl73_gcc485/
**/_*
TrackEmbedding/track_emb
TrackEmbedding/unfold/bin
TrackEmbedding/unfold/prior
output
input
out
err
**/schedTemplateExp.xml
**/.consign
.consign
*.d
sched*.condor
sched*.csh
sched*.list
**/*.list
**/*.err
**/*.out
sched*.report
.nfs*
kate
# mac 
**/*.pdf
*.so
*.pcm
*.d
*.xlsx
*.xlsm
./arch
xml_out
arch/
*.d
.consign
**/0
**/1
**/_*
*.xml
**/err/
**/out/
xml_err
xml_out
.consign
.DS_Store
**/.DS_Store
*.root
xml_out
xml_err
temp
pAll_10vztxt
